<h1>Random Number</h1>

<form action="/random/results">
  <label for="min">Minimum</label>
  <input id="min" name="min" type="text">

  <label for="max">Maximum</label>
  <input id="max" name="max" type="text">

  <button>Pick random number</button>
</form>
